:root {
    /* --main: #05021c;
--accent: #171dde; */
    /* --main: #05021c;
--accent: #5d88ff; */
    --main: white;
    /* --accent: #292929; */
    --accent: #0037d4;
    --hover: #ecf0f1;
}

body {
    background: var(--main);
    position: relative;
    margin: 0;
    display: block;
    padding: 0;
    height: 100%;
}
.title-container {
    background: var(--accent);
    padding: 15px;
    margin-bottom: 10px;
}
.cell-drag {
    height: 30px;
    width: 30px;
    background: blueviolet;
}

.section-instruction {
    font-family: sans-serif;
    margin-top: 10px;
    position: relative;
    margin-bottom: 10px;
    line-height: 2em;
    color: var(--accent);
    font-weight: bold;
}

.section-text {
    font-weight: 100;
    font-family: Open Sans;
    border-bottom: 1px solid var(--hover);
    margin-bottom: 10px;
    color: var(--accent);
}

.row {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    box-sizing: border-box;
}

.cell {
    width: 30px;
    height: 30px;
    /* border: 1px solid var(--accent); */
    display: table-cell;
    vertical-align: inherit;
    box-sizing: border-box;
    user-drag: none;
    user-select: none;
}

.wall {
    -webkit-animation: fade-in 0.6s both;
    animation: fade-in 0.6s both;
    background: var(--accent);
}

.unvisited {
    background: var(--main);
}

.end {
    background: red;
}

.start {
    background: #00da00;
}
.button-container {
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    -webkit-transition-duration: 0.12s;
    transition-duration: 0.12s;
}
.button-container:hover {
    background: var(--hover);
}
.button-container:hover .button-subtext {
    opacity: 1;
}

.button-text {
    color: var(--accent);
    font-weight: bold;
    margin-left: 10px;
    text-align: left;
    position: relative;
    font-family: Open Sans;
    font-size: 15px;
    user-select: none;
}
.tutorial {
    position: absolute;
    width: 200px;
}
.title {
    font-family: Open Sans;
    font-weight: bolder;
    font-size: 52px;
    color: var(--main);
    margin-bottom: 10px;
}
.button-subtext {
    -webkit-transition-duration: 0.12s;
    transition-duration: 0.12s;
    opacity: 0;
    font-family: Roboto;
    font-size: 14px;
    line-height: 20px;
    color: var(--accent);
    margin-top: 4px;
}
.container {
    margin: 10px;
    position: relative;
}
.side-bar {
    height: -webkit-fill-available;
    padding: 10px;
    right: 0;
    position: absolute;
    width: 190px;
}

.grid {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table {
    border: 5px solid var(--accent);
    margin-left: 210px;
    border-spacing: 0;
    border-collapse: collapse;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
